<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h2>Iniciar sesión</h2>

    <form method="POST">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit">Login</button>
    </form>

    <hr />
    <a href="/register">Registrar usuario</a>
</body>
</html>