<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrarse</title>
</head>
<body>
    <h2>Registrar usuario</h2>

    <form method="POST">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit">Registrar</button>
    </form>

    <hr />

    <a href="/login">Iniciar sesión</a>
</body>
</html>