<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bienvenida</title>
</head>
<body>
    <h2>Área para miembros</h2>

    <p>
        Bienvenido <b>{{request.user.username}}</b>,
        esta página es exclusiva para usuarios registrados.
    </p>

    <hr />
<a href="/logout">Cerrar sesión</a>
</body>
</html>